<div class="color">
  <h1 class="title">Comentarios</h1>
</div>
<div class="max-container">
  <div class="row">
    <div *ngFor="let comment of comments">
      <app-component-comment 
        [id_comment] = comment.id
        [id_lunchroom] = comment.restaurant_id
        [name_author] = comment.author_name
        [email_author] = comment.author_email
        [text] = comment.text>
      </app-component-comment>
    </div>

    <div class="col-md-6" [style.marginTop.%]="5">
      <h3>Publicar un comentario</h3>
      <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 estrellas"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 estrellas"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3 estrellas"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 estrellas"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 estrella"></label>
      </fieldset> 
      <br><br>
      <form>
        <div class="form-group">
          <label htmlFor="name">Nombre</label>
          <input #nombre type="text" class="form-control" id="nombre"/>
        </div>
        <div class="form-group">
          <label htmlFor="email">Correo</label>
          <input #correo type="text" class="form-control" id="email"/>
        </div>
        <div class="form-group">
          <label htmlFor="msg">Mensaje</label>
          <textarea #mensaje class="form-control" rows="5" id="msg"></textarea>
        </div>
        <button 
          type="button" 
          class="btn btn-default"
          (click)="publicarComentario(nombre.value, correo.value, mensaje.value)">
          Publicar
        </button>
      </form>
    </div>
  </div>
</div>

