.cont{
    background: white;
    border-radius: 5px 5px 5px 5px;
    margin: 10% 10% 10% 10%;
    padding: 5% 10% 10% 10%;
    box-shadow: inset 1px 1px 1px grey;
  }
  .title{
    color: white;
    text-shadow: 1px 1px 1px grey;
    text-align: justify;
  }

  .cont{
    background: white;
    border-radius: 5px 5px 5px 5px;
    margin: 10% 10% 10% 10%;
    padding: 5% 10% 10% 10%;
    box-shadow: inset 1px 1px 1px grey;
  }

  .btn-group, .btn-group-vertical{
    display: block;
  }

  .open>.dropdown-menu{
    width: -webkit-fill-available;
  }