<div class="menu-container">
  <h3 [style.color]="'#337AB7'">Información</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th [style.color]="'#32CD32'">Precio</th>
        <th>
        <span>
          {{ price }} pesos
        </span >
        </th>
      </tr>
      <tr>
        <th [style.color]="'#32CD32'">Tamaño de la fila</th>
        <th>
          <span>
            {{ line }} personas
          </span >
        </th>
      </tr>
      <tr>
        <th [style.color]="'#32CD32'">Tiempo de espera</th>
        <th>
          <span>
          {{time >= 0 ? time : 0}}
          {{time === 1 ? " minuto" : " minutos"}}
          </span>
        </th>
      </tr>
    </tbody>
  </table>
</div>