  <!-- The Modal -->
<div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="clickClose()">&times;</button>
        <div class="color">
          <h1 class="title">{{name_lunchroom}}</h1>
        </div>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container" [style.marginTop.%]="2">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src={{src[index]}}
                class="img-responsive"
                alt={{name}}/>
              </div>
            </div>
          </div>
          <div class="lunchroom-container">
            <div class="row">
              <div class="col-md-12">
                <app-component-lunchroom-menu 
                  [soup] = soup
                  [appetizer] = appetizer
                  [main_course] = main_course
                  [protein] = protein
                  [juice] = juice
                  [dessert] = dessert
                  [salad] = salad>
                </app-component-lunchroom-menu>
              </div>
              <div class="col-md-12">
                <app-component-lunchroom-price>
                </app-component-lunchroom-price>
                <button type="button"
                  class="btn btn-success btn-lg btn-block"
                  name="button"
                  [style.marginBottom.%]="2"
                  data-dismiss="modal"
                  (click)="clickPedirTurno()">
                    Pedir turno
                </button>
                <button type="button"
                  class="btn btn-info btn-lg btn-block"
                  name="button"
                  [style.marginBottom.%]="2"
                  data-dismiss="modal"
                  (click)="clickVerComentarios()">
                    Ver comentarios
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button 
          id=buttonclose type="button" class="btn btn-danger" data-dismiss="modal" (click)="clickClose()">
          Close
        </button>
      </div>
    </div>
  </div>
