 <!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container" [style.marginTop.%]="2">

          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <app-component-lunchroom-menu 
                  [soup] = soup
                  [appetizer] = appetizer
                  [main_course] = main_course
                  [protein] = protein
                  [juice] = juice
                  [dessert] = dessert
                  [salad] = salad>
                </app-component-lunchroom-menu>
                <br>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <app-component-lunchroom-price></app-component-lunchroom-price>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clickClose()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>