<div class="col-md-4">
    <mat-card matBadge="{{line}}" matBadgePosition="before" matBadgeColor="#008000">
      <mat-card-header>
          <mat-card-title>{{name_lunchroom}}</mat-card-title>
          <mat-card-subtitle>Edificio: {{num_ed}}</mat-card-subtitle>
          <button mat-mini-fab color="accent" (click)="clickVerComentarios()"><b>4.8</b></button>
      </mat-card-header>
      <img mat-card-image
        src={{src[index]}}
        alt={{name_lunchroom}}
        />
      <div class="caption">
        <app-component-lunchroom-modal 
          *ngIf="active_menu" 
          (close)="active_menu = false" 
          [id_lunchroom]=id_lunchroom
          [line]=line>
        </app-component-lunchroom-modal>
      </div>
      <div class="caption">
        <app-component-lunchroom-modal-ticket 
          *ngIf="active_ticket" 
          (close)="active_ticket = false"
          [id_lunchroom]=id_lunchroom
          [name_lunchroom] = name_lunchroom
          [code_lunchroom] = code_lunchroom
          [principal_count] = principal_count
          [open_time] = open_time
          [close_time] = close_time
          [num_lunches] = num_lunches
          [num_ed] = num_ed>
        </app-component-lunchroom-modal-ticket>
      </div>
      <mat-card-actions >
          <div class="col-xs-6 col-md-6 col-lg-6">
            <button  
              mat-raised-button color="primary"
              (click)="clickPedirTurno()" 
              data-toggle="modal"
              data-target="#myModalTicket"
              >TURNO</button>  
          </div>
          <div class="col-xs-6 col-md-6 col-lg-6">
            <button  mat-raised-button               
              (click)="clickMenu()"
              data-toggle="modal"
              data-target="#myModal">MENÚ</button>
          </div>
        </mat-card-actions>
    </mat-card>
    <br>
</div>
