<div class="col-md-3">
  <div class="">
    <div class="thumbnail hovereffect">
      <img class="img-responsive"
        src={{src[index]}}
        alt={{name_lunchroom}}
        (click)="onClick()"
        data-toggle="modal"
        data-target="#myModal"/>
      <div class="caption">
        <div [ngStyle]="{'color': '#337ab7', 'height':'50px', 'display':'table', 'width':'100%' }" >
          <h4 [ngStyle]="{'vertical-align':'middle', 'display':'table-cell'}" >
            {{name_lunchroom}}
          </h4>
        </div>
        <p>Edificio: {{num_ed}}</p>
        <div class="progress">
          <div class="progress-bar bg-danger" [style.width.%]="40">rating</div>
        </div>
        <app-component-lunchroom-modal 
          *ngIf="active" 
          (close)="active = false" 
          [id_lunchroom]=id_lunchroom 
          [name_lunchroom] = name_lunchroom
          [index] = index
          [code_lunchroom] = code_lunchroom
          [principal_count] = principal_count
          [open_time] = open_time
          [close_time] = close_time
          [num_lunches] = num_lunches
          [num_ed] = num_ed>
        </app-component-lunchroom-modal>
      </div>
    </div>
  </div>
</div>
