<div class="col-md-3">
  <div class="hovereffect">
    <div class="thumbnail">
      <img class="img-responsive"
        src={{src[index]}}
        alt={{name_lunchroom}}
        (click)="onClick()"
        data-toggle="modal"
        data-target="#myModal"/>
      <div class="caption">
        <div 
          [ngStyle]="{'color': '#337ab7', 'height':'50px', 'display':'table', 'width':'100%' }" >
          <h4 [ngStyle]="{'vertical-align':'middle', 'display':'table-cell'}" >{{name_lunchroom}}</h4>
        </div>
        <p>Edificio: {{num_ed}}</p>
        <app-component-lunchroom-modal 
          *ngIf="active" 
          (close)="active = false" 
          [id_lunchroom]=id_lunchroom 
          [name_lunchroom] = name_lunchroom
          [index] = index></app-component-lunchroom-modal>
      </div>
    </div>
  </div>
</div>