<div class="w3-card-4 w3-animate-opacity">
  <div class="w3-container w3-teal">
    <h2>Menú</h2>
  </div>
  <div class="w3-container w3-white">
    <br>
    <form>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Sopa" disabled value="{{soup}}"/>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Principio" disabled value="{{appetizer}}"/>
            </mat-form-field></td>
          </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Seco" disabled value="{{main_course}}"/>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Proteina" disabled value="{{protein}}"/>
            </mat-form-field></td>
          </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Jugo" disabled value="{{juice}}"/>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Postre" disabled value="{{dessert}}"/>
            </mat-form-field></td>
          </tr></table>  
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Ensalada" disabled value="{{salad}}"/>
          </mat-form-field>

          <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                  <input matInput placeholder="Precio" disabled value="{{price}}" type="number"/>
                  <span matPrefix>$&nbsp;</span>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                  <input matInput placeholder="Tiempo Aprox." disabled value="{{line}} min."/>
              </mat-form-field></td>
            </tr></table>
    </form>
   
  </div>
</div>
