<div class="w3-card-4 w3-animate-opacity">
  <div class="w3-container w3-teal">
    <h2>Menú</h2>
  </div>
  <div class="w3-container w3-white">
    <br>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th [style.color]="'#32CD32'">Sopa</th>
          <th>
            <span>
              {{soup}}
            </span>
          </th>
        </tr>
        <tr>
          <th [style.color]="'#32CD32'">Principio</th>
          <th>
            <span>
              {{appetizer}}
            </span>
          </th>
        </tr>
        <tr>
          <th [style.color]="'#32CD32'">Seco</th>
          <th>
            <span>
              {{main_course}}
            </span>
          </th>
        </tr>
        <tr>
          <th [style.color]="'#32CD32'">Proteina</th>
          <th>
            <span>
              {{protein}}
            </span>
          </th>
        </tr>
        <tr>
          <th [style.color]="'#32CD32'">Jugo</th>
          <th>
            <span>
              {{juice}}
            </span>
          </th>
        </tr>
        <tr>
          <th [style.color]="'#32CD32'">Postre</th>
          <th>
            <span>
              {{dessert}}
            </span>
          </th>
        </tr>
        <tr>
          <th [style.color]="'#32CD32'">Ensalada</th>
          <th>
            <span>
              {{salad}}
            </span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
