<div class="color">
  <h1 class="title">Restaurante {{id_lunchroom}}</h1>
</div>
<div class="container">
  <div class="row" [style.marginTop.%]="3">
    <div class="col-md-4">
      <div class="ticket-container w3-animate-left">
        <h1 class="ticket-text">
          {{ id_current_Shift != -1 ? "Turno Actual : " + name_current_Shift : "No hay más turnos" }} </h1>
      </div>
    </div>
    <div class="col-md-4" [ngStyle]="{'marginTop': '3%', 'marginLeft':'3%'}">
      <button type="button" name="Siguiente" class="w3-btn w3-deep-orange" (click)="clickChangeTicket()">
        Siguiente Turno
      </button>
    </div>
    <br>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="w3-container">
        <div class="w3-card-4 w3-animate-opacity">
          <div class="w3-container w3-teal">
            <h2>Información</h2>
          </div>
          <div class="w3-container w3-light-grey">
            <br>
            <table class="table">
              <tbody>
                <tr>
                  <th [style.color]="'#32CD32'">Cobro</th>
                  <th>
                    <span>
                      {{ (id_current_Shift == -1) ? 0 : price}} pesos
                    </span>
                  </th>
                </tr>
                <tr>
                  <th [style.color]="'#32CD32'">Turnos restantes</th>
                  <th>
                    <span>
                      {{line}} personas
                    </span>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <br>
      <button type="button" 
      name="estadisticas" 
      class="w3-btn w3-blue w3-block" 
      [ngStyle]="{'marginTop': '2%', 'marginBottom':'2%'}"
      data-toggle="modal"
      data-target="#myModal">
        Estadísticas
      </button>
      <br>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="w3-container">
        <app-component-admin-editmenu [id_lunchroom]=id_lunchroom>
        </app-component-admin-editmenu>
      </div>
      <br>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="clickClose()">&times;</button>
        <div class="color">
          <h1 class="title">Estadisticas</h1>
        </div>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Fecha</th>
                <th>Almuerzos vendidos</th>
                <th>Turnos cancelados</th>
                <th>Tiempo promedio</th>
                <th>Puntuación promedio</th>
                <th>Bono vendidos</th>
                <th>Estudiantes vendidos</th>
                <th>Externos vendidos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let statistic of statistics">
                <td>{{statistic.date}}</td>
                <td>{{statistic.sold_lunches}}</td>
                <td>{{statistic.canceled_shifts}}</td>
                <td>{{statistic.av_time}}</td>
                <td>{{statistic.av_punctuation}}</td>
                <td>{{statistic.bonus_sold}}</td>
                <td>{{statistic.student_sold}}</td>
                <td>{{statistic.external_sold}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
          <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="clickClose()">
          aceptar
        </button>
      </div>
    </div>
  </div>
</div>