<div class="color">
  <h1 class="title">Restaurante {{id_lunchroom}}</h1>
</div>
<div class="container">
  <div class="row" [style.marginTop.%]="3">
    <div class="col-md-4">
      <div class="ticket-container">
        <h1 class="ticket-text">
          {{ id_current_Shift != -1 ? "Turno Actual : " + name_current_Shift : "No hay más turnos" }} </h1>
      </div>
    </div>
    <div class="col-md-4" [ngStyle]="{'marginTop': '3%', 'marginLeft':'3%'}">
      <button type="button" name="Siguiente" class="btn btn-danger btn-lg" (click)="changeTicket()">
        Siguiente Turno
      </button>
    </div>
  </div>
</div>
<div class="lunchroom-container">
  <div class="row">
    <div class="col-md-6">
      <div class="menu-container">
        <h3 [style.color]="'#337AB7'">Información</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th [style.color]="'#32CD32'">Cobro</th>
              <th>
                <span>
                  {{ (id_current_Shift == -1) ? 0 : price}} pesos
                </span>
              </th>
            </tr>
            <tr>
              <th [style.color]="'#32CD32'">Turnos restantes</th>
              <th>
                <span>
                  {{line }}
                </span>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <app-component-admin-editmenu [id_lunchroom]=id_lunchroom>
      </app-component-admin-editmenu>
    </div>
    <div class="col-md-6">
      <button type="button" name="estadisticas" class="btn btn-primary btn-lg btn-block" [ngStyle]="{'marginTop': '2%', 'marginBottom':'2%'}"
        (click)="clickStats()">
        Estadísticas
      </button>
    </div>
  </div>
</div>