<div class="w3-card-4 w3-animate-opacity">
  <div class="w3-container w3-teal">
    <h2>Menú</h2>
  </div>
  <div class="w3-container w3-light-grey">
    <br>
    <form>
      <div class="form-group">
        <input #soup_id type="text" class="w3-input w3-border" ref="soup" value={{soup}} data-toggle="tooltip" title="Sopa" />
      </div>
      <div class="form-group">
        <input #appetizer_id type="text" class="w3-input w3-border" ref="appetizer" value={{appetizer}} data-toggle="tooltip" title="Principio" />
      </div>
      <div class="form-group">
        <input #main_course_id type="text" class="w3-input w3-border" ref="main_course" value={{main_course}} data-toggle="tooltip" title="Seco"/>
      </div>
      <div class="form-group">
        <input #protein_id type="text" class="w3-input w3-border" ref="protein" value={{protein}} data-toggle="tooltip" title="Proteina"/>
      </div>
      <div class="form-group">
        <input #juice_id type="text" class="w3-input w3-border" ref="juice" value={{juice}} data-toggle="tooltip" title="Jugo"/>
      </div>
      <div class="form-group">
        <input #dessert_id type="text" class="w3-input w3-border" ref="dessert" value={{dessert}} data-toggle="tooltip" title="Postre"/>
      </div>
      <div class="form-group">
        <input #salad_id type="text" class="w3-input w3-border" ref="salad" value={{salad}} data-toggle="tooltip" title="Ensalada"/>
      </div>
      <button type="button" class="w3-btn w3-cyan w3-block" [ngStyle]="{'marginTop': '2%', 'marginBottom':'2%'}"
        (click)="actualizarMenu(soup_id.value, appetizer_id.value, main_course_id.value, protein_id.value, juice_id.value, dessert_id.value, salad_id.value)">
        Guardar cambios
      </button>
    </form>
  </div>
</div>